<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/yazan/IdeaProjects/Attlasian-Board">
        <classes>
            <class name="TC01_CheckCreateBoard_POST">
                <methods>
                    <include name="CheckCreatingBoardWithValidData_P"/>
                </methods>
            </class>

            <class name="TC02_CheckGettingBoard_GET">
                <methods>
                    <include name="CheckGetBoardWithValidData"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>